*.log
*.png
*.jpg
*.pkl
*.gif
*.mp4
social-transmotion/experiments/*
social-transmotion/visualization/*
*.zip
*.tar.gz
*.pth
*.pt
*.pth.tar
*.pyc
*.DS_Store
*/__MACOSX/*
*/__pycache__/*
*/.venv/*
pacer/data/*
pacer/output/*
pacer/log/*
pacer/wandb/*
*/.DS_Store
*/.ipynb_checkpoints/*
isaacgym/python/build/*
isaacgym/python/isaacgym/_bindings/*